/* Start Main Rulez */

body {
   background-color: #f4f4f4;
   font-size: 13px;
   height: 3000px;
}

h1 {
   font-size: 55px;
   margin: 40px;
   font-weight: bold;
   color: #666;
}

.input-container {
   position: relative;
}

.asterisk {
   font-size: 20px;
   position: absolute;
   right: 10px;
   top: 8px;
   color: #D20707;

}

.main-form .asterisk {
   font-size: 30px;
   position: absolute;
   right: 30px;
   top: 5px;
   color: #D20707;

}

.nice-message {
   padding: 10px;
   background-color: #fff;
   margin: 10px;
   border-left: 5px solid #080;
}

/* End Main Rulez */

/* Start bootstrap  Edits */
.navbar {
   border-radius: 0;
   margin-bottom: 0;
}

.nav>li>a,
.navbar-brand {
   padding: 15px 12px;
}

.navbar-brand {
   font-size: 1em;
}

.navbar-inverse .navbar-brand .open>a,
.navbar-inverse .navbar-brand .open>a:focus,
.navbar-inverse .navbar-brand .open>a:hover,
.dropdown-menu {
   background-color: #3498db;
}

.dropdown-menu {
   min-width: 180px;
   padding: 0;
   font-size: 1em;
   border: none;
   border-radius: 0;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
   color: #fff;
   background-color: #8e44ad;
}

.form-control {
   position: relative;
}

/* End bootstrap  Edits */

/* start header */

.upper-bar {
   padding: 10px;
   background-color: #fff;
}

.my-img {
   width: 32px;
   height: 32px;
}

/* end header */
/* Start login page */
.login-page form,
.the-errors {
   max-width: 300px;
   margin: auto;
}

.login-page form input {
   margin-bottom: 5px;
}

.login-page [data-class='login'].selected {
   color: #337ab7;
}

.login-page [data-class='signup'].selected {
   color: #5cb85c;
}

.login-page h1 {
   color: #c0c0c0;
}

.login-page h1 span {
   cursor: pointer;
}

.login-page .signup {
   display: none;
}

.the-errors .msg {
   padding: 10px;
   text-align: left;
   border-left: 5px solid #cd6858;
   background-color: #fff;
   margin-bottom: 8px;
   border-right: 1px solid #e0e0e0;
   border-top: 1px #e0e0e0;
   border-bottom: 1px #e0e0e0;
   color: #919191;
}

.the-errors .error {
   border-left: 5px solid #cd6858;
}

.the-errors .success {
   border-left: 5px solid #080;
}

/* End login page */


/* Start Upper */
.upper-bar {
   padding: 10px;
   background-color: #fff;
}

/* End Upper */


/* start  Categories  page */
.item-box {
   position: relative;
}

.item-box .price-tag {

   background-color: #b4b4b4;
   padding: 2px 10px;
   position: absolute;
   left: 0;
   top: 10px;
   font-weight: bold;
   color: #fff;
}

.item-box .approve-status {
   position: absolute;
   top: 40px;
   left: 0;
   background-color: #b85a5a;
   color: #fff;
   padding: 3px 5px;
}

.item-box .caption p {
   height: 30px;
   max-height: 30px;
}

/* End Categories  page */

/* Start Profil  page */

.information {
   margin-top: 20px;
}

.information ul {
   padding: 0;
   margin: 0;
}

.information ul li {
   padding: 10px;
}

.information ul li:nth-child(odd) {
   background-color: #eee;
}

.information ul li span {
   display: inline-block;
   width: 120px;
}

.thumbnail .date {
   text-align: right;
   font-size: 13px;
   color: #aaa;
   font-weight: bold;
}

/* End Profil  page */
/* Start Show Item  page */
.item-info h2 {
   padding: 10px;
   margin: 0;
}

.item-info p {
   padding: 10px;
}

.item-info ul li {
   padding: 10px;
}

.item-info ul li:nth-child(odd) {
   background-color: #e8e8e8;
}

.item-info ul li span {
   display: inline-block;
   width: 120px;
}

.add-comment h3 {
   margin: 0 0 10px;
}

.add-comment textarea {
   display: block;
   margin-bottom: 10px;
   width: 500px;
   height: 100px;
}

.comment-box {
   margin-bottom: 20px;
}

.comment-box img {
   width: 100px;
   margin-bottom: 5px;
}

.comment-box .lead {
   background-color: #e0e0e0;
   position: relative;
   padding: 10px;
   margin-top: 25px;

}

.comment-box .lead:before {
   content: "";
   width: 0;
   height: 0;
   border-width: 15px;
   border-style: solid;
   border-color: transparent #e0e0e0 transparent transparent;
   position: absolute;
   left: -28px;
   top: 10px;
}

/* End Show Item page */

/* Start Our Custom */

.custom-hr {
   border-top: 1px solid #919191;
}




/* End Our Custom */